          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title ">Events</h4>
                  <p class="card-category">Consult, edit or delete.</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>ID</th>
                        <th>Category</th>
                        <th>User</th>
                        <th>Score</th>
                        <th>Action</th>
                      </thead>
                      <tbody>
                        {% for e in events %}
                        <tr>
                          <td class="text-primary">{{e.post.id}}</td>
                          <td>{{e.post.title}}</td>
                          <td class="text-primary">{{e.post.post_owner.username}}</td>
                          <td>{{e.post.count_reactions}}</td>
                          <td>
                            <!-- <a href="{% url 'dashboard:dashboard_anomalie_edit' e.post.id %}" class="btn btn-warning text-white">Edit</a> -->
                            <a href="{% url 'dashboard:dashboard_event_approve' e.id %}" class="btn btn-success text-white">Approve</a>
                            <form method="POST" action="/dashboard/anomalies">
                               {% csrf_token %}
                              <input id="action" type="text" name="action" value="delete" hidden>
                              <input id="post_id" type="text" name="post_id" value="{{e.post.id}}" hidden>
                              <button class="btn btn-danger text-white" type="submit">Delete</button>
                            </form>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>