{% extends 'layouts/base_feed.html' %}
{% load staticfiles %}
{% block title %}feed{% endblock %}



{% block content_header %}
{% include 'includes/header_feed.html' %}
{% endblock %}


{% block content_user_data %}
{% include 'includes/user_data.html' %}
{% endblock %}


{% block content_tags_sec %}
{% include 'includes/tags-sec.html' %}
{% endblock %}


{% block content_post_comment %}
{% include 'includes/post_comment.html' %}
{% endblock %}


{% block content_widget_about %}
{% include 'includes/widget_about.html' %}
{% endblock %}


{% block content_widget_week %}
{% include 'includes/widget_week.html' %}
{% endblock %}


{% block content_suggestions%}
{% include 'includes/suggestions.html' %}
{% endblock %}