{% extends 'layouts/base_feed.html' %}
{% load staticfiles %}
{% block title %}feed{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'css/feed.css' %}">
	{% endblock %}


{% block content_header %}
{% include 'includes/header_feed.html' %}
{% endblock %}




{% block content_profile %}
{% load widget_tweaks %}
<div class="col-lg-12 col-md-8 ">
        <div class="main-ws-sec">
            <div class="posts-section">
                    <div class="post-bar">
                        <div class="row">
            <!-- edit form column -->
            <div class="col-lg-4 text-lg-center">
                <br><br>
                <h2 style="font-size: 30px;">Changer vos informations </h2>
                <br><br>
            </div>
            <br>
            {% for message in messages %}
            <div class="col-lg-12">
                    {% if message.tags == 'error' %}
      
     
                    <div class="alert alert-danger alert-dismissable"> <a class="panel-close close" data-dismiss="alert">×</a>
                        {{message}}
                    </div>
                     {% else %}
                     <div class="alert alert-success alert-dismissable"> <a class="panel-close close" data-dismiss="alert">×</a>
                        {{message}}
                    </div>
                    {% endif %}

                </div>
                {% endfor %}
                <br>
                <div class="col-lg-8 push-lg-4 personal-info">
<form  role="form" method="POST">
    {% csrf_token %}

{{errors | safe}}
{% for field in form.visible_fields  %}
<div class="form-group row">
     {% if field.name == 'email' %}
        <label class="col-lg-3 col-form-label form-control-label">Email</label>
     {% elif field.name == 'first_name' %}
     <label class="col-lg-3 col-form-label form-control-label">Nom</label>
     {% elif field.name == 'last_name' %}
     <label class="col-lg-3 col-form-label form-control-label">Prenom</label>
     {% elif field.name == 'phone_number' %}
     <label class="col-lg-3 col-form-label form-control-label">Telephone</label>
     {% elif field.name == 'address' %}
     <label class="col-lg-3 col-form-label form-control-label">Address</label>
     {% endif %}
        <div class="col-lg-9">
            {% render_field field class="form-control" %}
</div>

</div>
<br>
{% endfor %}


<div class="col d-flex justify-content-start">
        <button class="btn btn-primary" type="submit" name="details">Modifier</button>
      </div>

</form>
<br>
<form role="form" method="POST">
        {% csrf_token %}
    
    {{errors | safe}}
    
    <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">Mon Password</label>
            <div class="col-lg-9">
                <input type="password" name="old_password" autofocus="" class="form-control" required="" id="id_old_password">
    </div>
    </div>
    <br>
    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label">Nouveau Password</label>
        <div class="col-lg-9">
            <input type="password" name="new_password1" class="form-control" required="" id="id_new_password1">
            <input type="checkbox" class="eye" onclick="myFunction2()">
            <script>
            function myFunction2() {
                var x = document.getElementById("id_new_password1");
                if (x.type === "password") {
                    x.type = "text";
                } else {
                    x.type = "password";
                }
                }
            </script>
</div>
</div>
<br>
<div class="form-group row">
    <label class="col-lg-3 col-form-label form-control-label">Confirmé Password</label>
    <div class="col-lg-9">
        <input type="password" name="new_password2" class="form-control" required="" id="id_new_password2">
        <input type="checkbox" class="eye" onclick="myFunction()">
        <script>
        function myFunction() {
                var x = document.getElementById("id_new_password2");
                if (x.type === "password") {
                    x.type = "text";
                } else {
                    x.type = "password";
                }
                }
        
        </script>
</div>
</div>
<br>
    
    <div class="col d-flex justify-content-start">
            <button class="btn btn-primary" type="submit" name="passwordCH">Modifier</button>
          </div>
    <br>
    <br>
    
    </form>
    </div>
   
</div>
</div>
</div>
</div>
</div>
<script>
    document.getElementById('profile').classList.add("active");
</script>
{% endblock %}

