{% load staticfiles %}
{% load widget_tweaks %}
<div class="col-lg-6 col-md-8 no-pd">
    <div class="main-ws-sec">
            <div class="post-topbar">
                    <div class="user-picy">
                            
                                    <script>
                                         userpic='{{ user_pic }}';
                                         
                                         var data = new Identicon (userpic).toString();
                                         
                                         document.write('<img style="width:50px; height:50px;" src="data:svg+xml;base64,' + data + '">');
                                 </script>
                    </div>
                    <div class="post-st">
                        <ul>
                                <li><a data-toggle="modal" data-target="#exampleModalLong" href="#" title="">Creé Event</a></li>
                    
                        </ul>
                    </div>
                </div>
        <div class="posts-section">
        {% for event in events %}

            <div class="post-bar animated fadeInUp fast" id="post{{event.post.id}}">
                <div class="post_topbar">
                    <div class="usy-dt">
                            {% for user_pic3 in user_pic_post %}
                        {% if event.post == user_pic3.post %}
                        {% if event.post.post_owner == user_pic3.post_owner %}
                        <script>
                            userpic='{{ user_pic3.user_pic }}';
                            
                            var data = new Identicon (userpic).toString();
                            
                            document.write('<img style="width:20px; height:20px;" src="data:svg+xml;base64,' + data + '">');
                    </script>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                        <div class="usy-name">
                            <h3>{{event.post.post_owner}}</h3>
                            <span><img src="{% static 'img/clock.png' %}" alt="">{{event.post.created_at}}</span>
                        </div>
                    </div>
                    
                </div>
                <div class="epi-sec">
                    <ul class="descp">
                            {% for nb_part in nb_participante %}
                            {% if  event == nb_part.event %}
                            <li><img src="{% static 'img/icon8.png' %}" alt=""><span>N°des participants: {{nb_part.nb_part}}</span></li>
                            {% endif  %}
                            {% endfor %}
                        
                        <li><img src="{% static 'img/icon9.png' %}" alt=""><span>{{event.post.city.name}}</span></li>
                    </ul>
                    <ul class="bk-links">
                        <li>
                            <form id="event{{event.id}}">
                                {% csrf_token %}
                                {% for nb_part in nb_participante %}
                                {% if  event == nb_part.event %}
                                
                                {% if nb_part.is_part %}
                                    <button type="submit" class="btn btn-default" id="event_id{{event.id}}" value="{{event.id}}">Participant <i class="la la-check"></i></button>
                                {% else %}
                                {% if event.max_participants > nb_part.nb_part %}
                                    <button type="submit" class="btn btn-warning" id="event_id{{event.id}}" value="{{event.id}}"><i class="la la-calendar-plus-o"></i> Participé </button>
                                    {% else %}
                                <button type="submit" class="btn btn-default" id="event_id{{event.id}}" value="{{event.id}}" disabled>Max participants </button>
                                {% endif %}
                                {% endif %}
                                
                        {% endif %}        
                        {% endfor %}
                        </form>
                        
                        <script>
                            
                            // Submit post on submit
                            $(document).on('submit',"#event{{event.id}}", function(e){
                                e.preventDefault();
                                $.ajax({
                                    url : "/Participate/", // the endpoint
                                    type : "POST", // http method
                                    data : {
                                        event_id : $('#event_id{{event.id}}').val(),
                                        csrfmiddlewaretoken : $('input[name=csrfmiddlewaretoken]').val()
                                        
                                    }, // data sent with the post request

                                    // handle a successful response
                                    success : function() {
                                        
                                       if($('#event_id{{event.id}}').attr("class")==="btn btn-default"){
                                           $("#event_id{{event.id}}").remove();
                                            $("#event{{event.id}}").append(' <button type="submit" class="btn btn-warning" id="event_id{{event.id}}" value="{{event.id}}"><i class="la la-calendar-plus-o"></i> Participé </button>');
                                       }else{
                                        $("#event_id{{event.id}}").remove();
                                        $("#event{{event.id}}").append(' <button type="submit" class="btn btn-default" id="event_id{{event.id}}" value="{{event.id}}">Participant <i class="la la-check"></i></button>');
                                       }
                                      
                                    },

                                    // handle a non-successful response
                                    error : function(xhr,errmsg,err) {
                                        $('#event{{event.id}}').prepend("<div class='alert alert-danger'><button type='button' class='close' data-dismiss='alert'>&times;</button>Oop! Error happend!</div>"); // add the error to the dom
                                        //console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                                    }
                                });
                            });

                            
                            
                            </script>
                        </li>
                    </ul>
                </div>
                <div class="job_descp">
                    <p>{{event.post.description}}</p>
                    <ul>
                        {% if event.post.image == '/media/images/default.png' %}
                        <li><img width="100%" src="{% static 'img/default.png' %}" alt=""></li>
                        {% else %}
                        <li><img width="100%" src="{{event.post.image}}" alt=""></li>
                        {% endif %}
                    </ul>	
                </div>
                <div class="job-status-bar">
                    <ul class="like-com">
                        <li>
                            <form method="post" action="{% url 'like_post' %}">
                                {% csrf_token %}
                        
                        {% if event.post in like_creat_nember %}
                         {% for reaction in reactions %}
                            {% if event.post == reaction.post %}
                                {% if reaction.is_like == True %}
                                <button type='submit' name="post_id" value="{{event.post.id}}" class="btn btn-info"><i class="la la-heart"></i> Liked</button>
                                {% else %}
                                <button type='submit' name="post_id" value="{{event.post.id}}" class="btn btn-default"><i class="la la-heart"></i> Liked</button>
                                {% endif%}
                            {% endif %}
                         {% endfor %}
                        {% else %} 
                         <button type='submit' name="post_id" value="{{event.post.id}}" class="btn btn-default"><i class="la la-heart"></i> Liked</button>
                        {% endif %}
      
                        
                        
                        
                        
                        
                        
                        
                        

                        </form>
                    </li>
                    <li>
                            <form method="post" action="{% url 'dislike_post' %}">
                                    {% csrf_token %}
                            {% if event.post in like_creat_nember %}
                            {% for reaction in reactions %}
                                {% if event.post == reaction.post %}
                                    {% if reaction.is_like == False %}
                                    <button type='submit' name="post_id" value="{{event.post.id}}" class="btn btn-danger"><i class="la la-heart"></i> Disliked</button>
                                    {% else %}
                                    <button type='submit' name="post_id" value="{{event.post.id}}" class="btn btn-default"><i class="la la-heart"></i> Disliked</button>
                                    {% endif%}
                                {% endif %}
                            {% endfor %}
                            {% else %} 
                            <button type='submit' name="post_id" value="{{event.post.id}}" class="btn btn-default"><i class="la la-heart"></i> Disliked</button>
                            {% endif %}
                                          
                                          
              
                            </form>
                        </li> 
                        
                        
                    </ul>
                    <a href="#" title="" ><img src="{% static 'img/com.png' %}" alt=""> Comment {{event.post.count_comments}}</a>
                </div>
                <div class="plus-ic">
                    <button class="btn btn-circle" data-toggle="collapse" href="#collapse{{event.post.id}}" role="button" aria-expanded="false" aria-controls="collapse{{event.post.id}}"> <i  class="la la-plus"></i></button>
                 </div>
                 <div class="comment-section collapse" id="collapse{{event.post.id}}">
                    
                    <div class="comment-sec">
                        <ul>
                            <li id="commets{{event.post.id}}">
                                {% for comment in comments %}
                                    {% if comment.post == event.post %}
                                        <div class="comment-list">
                                            <div class="bg-img">
                                                    {% for user_pic3 in user_pic_comment %}
                                                    {% if comment == user_pic3.comment %}
                                                    {% if comment.comment_owner == user_pic3.comment_owner %}
                                                    <script>
                                                        userpic='{{ user_pic3.user_pic }}';
                                                        
                                                        var data = new Identicon (userpic).toString();
                                                        
                                                        document.write('<img style="width:20px; height:20px;" src="data:svg+xml;base64,' + data + '">');
                                                </script>
                                                {% endif %}
                                                {% endif %}
                                                {% endfor %}
                                            </div>
                                            <div class="comment">
                                                <h3>{{comment.comment_owner.username}}</h3>
                                                <span><img src="{% static 'img/clock.png' %}" alt=""> {{comment.created_at}}</span>
                                                <p>{{comment.description}}</p>
                                            </div>
                                        </div><!--comment-list end-->
                                    {% endif %}
                                {% endfor %}
                                <script>
                                        // Submit post on submit
                                        $(document).on('submit',"#create_comment{{event.post.id}}", function(e){
                                            e.preventDefault();
                                            $.ajax({
                                                url : "/create_comment/", // the endpoint
                                                type : "POST", // http method
                                                data : {
                                                    post_id : $('#post_id{{event.post.id}}').val(),
                                                    description:  $('#description{{event.post.id}}').val(),
                                                    csrfmiddlewaretoken : $('input[name=csrfmiddlewaretoken]').val()
                                                    
                                                }, // data sent with the post request
    
                                                // handle a successful response
                                                success : function() {
                                                    var div1=document.createElement("div");
                                                    div1.className= "comment-list" ;
                                                    var div2=document.createElement("div");
                                                    div2.className="bg-img" ;
                                                    var userpic='{{ user_pic }}';
                                                    var data = new Identicon (userpic).toString();
                                                    var img = document.createElement("IMG");
                                                    img.src = "data:svg+xml;base64," + data +"";
                                                    img.style="width:20px; height:20px;"
                                                    div2.append(img);
                                                    var div3=document.createElement("div");
                                                    div3.className="comment";
                                                    var h3=document.createElement("h3");
                                                    h3.append('{{username}}');
                                                    var span=document.createElement("span");
                                                    var img2 = document.createElement("IMG");
                                                    img2.src = "{% static 'img/clock.png' %}";
                                                    span.append(img2);
                                                    span.append("Now");
                                                    var p=document.createElement("p");
                                                    p.append(""+$('#description{{event.post.id}}').val());
                                                    div3.appendChild( h3 );
                                                    div3.appendChild( span );
                                                    div3.appendChild( p );
                                                    div1.appendChild(div2);
                                                    div1.appendChild(div3);
                                                    $('#commets'+$('#post_id{{event.post.id}}').val()).append(div1);
                                                },
    
                                                // handle a non-successful response
                                                error : function(xhr,errmsg,err) {
                                                    $('#create_comment{{event.post.id}}').prepend("<div class='alert alert-danger'><button type='button' class='close' data-dismiss='alert'>&times;</button>Oop! Error happend!</div>"); // add the error to the dom
                                                    //console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                                                }
                                            });
                                        });
    
                                        
                                        
                                        </script>
                            </li>
                        </ul>
                    </div><!--comment-sec end-->
                    <div class="post-comment">
                        <div class="cm_img">
                                <script>
                                        userpic='{{ user_pic }}';
                                        
                                        var data = new Identicon (userpic).toString();
                                        
                                        document.write('<img style="width:40px; height:40px;" src="data:svg+xml;base64,' + data + '">');
                                </script>
                        </div>
                        <div class="comment_box">
                                <form  id="create_comment{{event.post.id}}">
                                        {% csrf_token %}
                                        <input type="text" name="post_id" id="post_id{{event.post.id}}" value="{{event.post.id}}" hidden>
                                       
                                        <div>
                                                <textarea  class='autoExpand' rows='3' data-min-rows='3' cols='60' data-min-cols='60' placeholder='Votre Commentaire' name="description" id="description{{event.post.id}}" required > </textarea>
                                        </div>
                                        
                                        <br>
                                        <button type="submit">Send</button>
                                    </form>
                        </div>
                    </div><!--post-comment end-->
                </div><!--comment-section end-->
            </div><!--post-bar end-->
        {% endfor %}
            <div class="process-comm">
                    <a href="#" title=""><img src="{% static 'img/process-icon.png' %}" alt=""></a>
            </div><!--process-comm end-->
        </div><!--posts-section end-->
    </div><!--main-ws-sec end-->
   
</div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
             
              <div class="modal-content">
                <div class="modal-header" style="background-color: #6195FF;">
                  <h5 class="col-12 modal-title text-center" id="exampleModalLongTitle" style="color: #FFF;">Post a Event</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                        <div class="post-project-fields">
                                <form method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <textarea name="title" class='autoExpand' rows='1' data-min-rows='1' maxlength="255" required="" id="id_title" placeholder="Titre"></textarea>
                                        </div>
                                        {% for field in form2.visible_fields  %}
                                        <div class="col-lg-12">
                                                {% render_field field %}
                                        </div>
                                        {% endfor %}
                                        <div class="col-lg-12">
                                            <input type="file" name="image"   id="id_image">
                                            </div>
                                        <div class="col-lg-12">
                                        <input type="text" name="latitude" placeholder="latitude" readonly maxlength="255" required="" id="id_latitude">
                                        </div>
                                        <div class="col-lg-12">
                                        <input type="text" name="longitude" placeholder="longitude" readonly maxlength="255" required="" id="id_longitude">
                                        </div>
                                        <div class="col-lg-12">
                                        <input id="autocomplete_search" name="autocomplete_search" type="text" class="form-control" placeholder="Search" />
                                        </div>
                                        <div class="col-lg-12">
                                            <textarea name="description" class='autoExpand' rows='5' data-min-rows='5' maxlength="255" required="" id="id_description" placeholder="Description"></textarea>
                                        </div>
                                        <div class="col-lg-12">
                                            <input type="number" name="max_participants"  required="" id="id_max_participants" placeholder="max_participants">
                                        </div>
                                        <div class="col-lg-12">
                                            <input type="datetime" name="starts_at"  required="" id="id_starts_at" placeholder="yyyy-MM-jj hh:mm">
                                        </div>
                                       
                                        
                                        <div class="col-lg-12">
                                            <ul>
                                                <li><button class="active" type="submit" value="post">Post</button></li>
                                            </ul>
                                        </div>
                                    </div>
                                </form>
                            </div><!--post-project-fields end-->
                </div>
                <div class="modal-footer">
                  
                </div>
              </div>
            </div>
          </div>