{% load staticfiles %}
<nav class="navbar navbar-expand-lg navbar-dark animated fadeInDown fast" style="background-color: #6195FF;">
   <a class="navbar-brand" href="#">SbaClean</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
 
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav m-auto">
       <li class="nav-item mx-3" id="anomaly">
         <a class="nav-link" href="{% url 'feed' %}"> Anomaly <i class="la la-exclamation-circle" ></i></a>
       </li>
       <li class="nav-item mx-3" id="evenement">
         <a class="nav-link" href="{% url 'event' %}">Evenement <i class="la la-group"></i></a>
       </li>
       <li class="nav-item mx-3" id="posts">
           <a class="nav-link" href="{% url 'Myposts' %}">Mes posts <i class="la la-edit"></i></a>
         </li>
         <li class="nav-item mx-3" id="reactions">
           <a class="nav-link" href="{% url 'Myreactions' %}">Mes reactions <i class="la la-heart"></i> </a>
         </li>
         <li class="nav-item mx-3" id="profile">
           <a class="nav-link" href="{% url 'profile' %}">Profile <i class="la la-user"></i> </a>
         </li>
      </ul>
      <ul class="navbar-nav ml-auto">
         <li class="nav-item ml-5">
           <a class="nav-link" href="{% url 'logout' %}">Deconnecte <i class="la la-minus-circle"></i> </a>
         </li>
     </ul>
     
   </div>
 </nav>