{% load staticfiles %}
{% load widget_tweaks %}
<div class="col-lg-6 col-md-8 no-pd">
    <div class="main-ws-sec">
            <div class="post-topbar">
                    <div class="user-picy">
                       <script>
                            userpic='{{ user_pic }}';
                            
                            var data = new Identicon (userpic).toString();
                            
                            document.write('<img style="width:50px; height:50px;" src="data:svg+xml;base64,' + data + '">');
                    </script>
                    </div>
                    <div class="post-st">
                        <ul>
                            <li><a data-toggle="modal" data-target="#exampleModalLong" href="#" title="">Creé Anomaly</a></li>
                    
                        </ul>
                    </div>
                </div>
        <div class="posts-section">
        {% for post in posts %}

            <div class="post-bar animated fadeInUp fast " id="post{{post.post.id}}">
                <div class="post_topbar">
                    <div class="usy-dt">
                        <script>
                            userpic='{{ user_pic }}';
                            
                            var data = new Identicon (userpic).toString();
                            
                            document.write('<img style="width:20px; height:20px;" src="data:svg+xml;base64,' + data + '">');
                    </script>
                        <div class="usy-name">
                            <h3>{{post.post.post_owner}}</h3>
                            <span><img src="{% static 'img/clock.png' %}" alt="">{{post.post.created_at}}</span>
                        </div>
                    </div>
                    
                </div>
                <div class="epi-sec">
                    <ul class="descp">
                        <li><img src="{% static 'img/icon9.png' %}" alt=""><span>{{post.post.city.name}}</span></li>
                    </ul>
                    <ul class="bk-links">
                        <li> <form method="post" action="{% url 'signaled' %}">
                                {% csrf_token %}
                                <button type='submit' name="post_id" value="{{post.post.id}}" class="btn btn-warning"><i class="la la-bullhorn"></i> Signaler</button>

                                      
                                      
          
                        </form></li>
                        
                    </ul>
                </div>
                <div class="job_descp">
                    <p>{{post.post.description}}</p>
                    <ul>
                      {% if post.post.image == '/media/images/default.png' %}
                        <li><img width="100%" src="{% static 'img/default.png' %}" alt=""></li>
                        {% else %}
                        <li><img width="100%" src="{{post.post.image}}" alt=""></li>
                        {% endif %}
                    </ul>	
                </div>
                <div class="job-status-bar">
                    <ul class="like-com">
                        <li>
                            <form method="post" action="{% url 'like_post' %}">
                                    {% csrf_token %}
                            
                            {% if post.post in like_creat_nember %}
                             {% for reaction in reactions %}
                                {% if post.post == reaction.post %}
                                    {% if reaction.is_like == True %}
                                    <button type='submit' name="post_id" value="{{post.post.id}}" class="btn btn-info"><i class="la la-heart"></i> Like</button>
                                    {% else %}
                                    <button type='submit' name="post_id" value="{{post.post.id}}" class="btn btn-default"><i class="la la-heart"></i> Like</button>
                                    {% endif%}
                                {% endif %}
                             {% endfor %}
                            {% else %} 
                             <button type='submit' name="post_id" value="{{post.post.id}}" class="btn btn-default"><i class="la la-heart"></i> Like</button>
                            {% endif %}
          
                            
                            
                            
                            
                            
                            
                            
                            

                            </form>
                        </li>
                        <li>
                                <form method="post" action="{% url 'dislike_post' %}">
                                        {% csrf_token %}
                                {% if post.post in like_creat_nember %}
                                {% for reaction in reactions %}
                                    {% if post.post == reaction.post %}
                                        {% if reaction.is_like == False %}
                                        <button type='submit' name="post_id" value="{{post.post.id}}" class="btn btn-danger"><i class="la la-heart"></i> Dislike</button>
                                        {% else %}
                                        <button type='submit' name="post_id" value="{{post.post.id}}" class="btn btn-default"><i class="la la-heart"></i> Dislike</button>
                                        {% endif%}
                                    {% endif %}
                                {% endfor %}
                                {% else %} 
                                <button type='submit' name="post_id" value="{{post.post.id}}" class="btn btn-default"><i class="la la-heart"></i> Dislike</button>
                                {% endif %}
                                              
                                              
                  
                                </form>
                        </li> 
                        
                        
                    </ul>
                    <a href="#" title="" ><img src="{% static 'img/com.png' %}" alt="">Comment {{post.post.count_comments}}</a>

                </div>
                <div class="plus-ic">
                   <button data-toggle="collapse" class="btn btn-circle" href="#collapse{{post.post.id}}" role="button" aria-expanded="false" aria-controls="collapse{{post.post.id}}"> <i  class="la la-plus"></i></button>
                </div>
                <div class="comment-section collapse" id="collapse{{post.post.id}}">
                   
                    <div class="comment-sec">
                        <ul>
                            <li>
                                {% for comment in comments %}
                                    {% if comment.post == post.post %}
                                        <div class="comment-list">
                                            <div class="bg-img">
                                                 <script>
                            userpic='{{ user_pic }}';
                            
                            var data = new Identicon (userpic).toString();
                            
                            document.write('<img style="width:30px; height:30px;" src="data:svg+xml;base64,' + data + '">');
                    </script>
                                            </div>
                                            <div class="comment">
                                                <h3>{{comment.comment_owner.username}}</h3>
                                                <span><img src="{% static 'img/clock.png' %}" alt=""> {{comment.created_at}}</span>
                                                <p>{{comment.description}}</p>
                                            </div>
                                        </div><!--comment-list end-->
                                    {% endif %}
                                {% endfor %}
                            </li>
                        </ul>
                    </div><!--comment-sec end-->
                    <div class="post-comment">
                        <div class="cm_img">
                                <script>
                                        userpic='{{ user_pic }}';
                                        
                                        var data = new Identicon (userpic).toString();
                                        
                                        document.write('<img style="width:40px; height:40px;" src="data:svg+xml;base64,' + data + '">');
                                </script>
                        </div>
                        <div class="comment_box">
                            <form method="POST">
                                {% csrf_token %}
                                <input type="text" name="post_id" id="post_id" value="{{post.post.id}}" hidden>
                                {% for field in form.visible_fields %}
                                <div>
                                    {% render_field field class='autoExpand' rows='3' data-min-rows='3' cols='60' data-min-cols='60' placeholder='Votre Commentaire'  %}
                                </div>
                                {% endfor %}
                                <br>
                                <button type="submit">Send</button>
                            </form>
                        </div>
                    </div><!--post-comment end-->
                </div><!--comment-section end-->
            </div><!--post-bar end-->
        {% endfor %}
            <div class="process-comm">
                <a href="#" title=""><img src="{% static 'img/process-icon.png' %}" alt=""></a>
            </div><!--process-comm end-->
        </div><!--posts-section end-->
    </div><!--main-ws-sec end-->
   
</div>

    <!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
     
      <div class="modal-content">
        <div class="modal-header" style="background-color: #6195FF;">
          <h5 class="col-12 modal-title text-center" id="exampleModalLongTitle" style="color: #FFF;">Post a Anomaly</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="post-project-fields">
                <form method="POST">
                        {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-12">
                            <textarea name="title" class='autoExpand' rows='1' data-min-rows='1' maxlength="255" required="" id="id_title" placeholder="Titre"></textarea>
                        </div>
                        {% for field in form2.visible_fields  %}
                        <div class="col-lg-12">
                                {% render_field field %}
                        </div>
                        {% endfor %}
                        <div class="col-lg-12">
                        <input type="text" name="latitude" placeholder="latitude" readonly maxlength="255" required="" id="id_latitude">
                        </div>
                        <div class="col-lg-12">
                        <input type="text" name="longitude" placeholder="longitude" readonly maxlength="255" required="" id="id_longitude">
                        </div>
                        <div class="col-lg-12">
                        <input id="autocomplete_search" name="autocomplete_search" type="text" class="form-control" placeholder="Search" />
                        </div>
                        <div class="col-lg-12">
                            <textarea name="description" class='autoExpand' rows='5' data-min-rows='5' maxlength="255" required="" id="id_description" placeholder="Description"></textarea>
                        </div>
                       
                        
                        <div class="col-lg-12">
                            <ul>
                                <li><button class="active" type="submit" value="post">Post</button></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div><!--post-project-fields end-->
        </div>
        <div class="modal-footer">
          
        </div>
      </div>
    </div>
  </div>