{% load staticfiles %}
<div class="widget suggestions full-width animated fadeInUp fast">
    <div class="sd-title">
        <h3>Meilleurs utilisateurs</h3>
        <i class="la la-ellipsis-v"></i>
    </div><!--sd-title end-->
    <div class="suggestions-list">
        {% for user in users %}
        <div class="suggestion-usd">
                {% for user_pic3 in user_pic_user %}
                        
                        {% if user == user_pic3.user %}
                        <script>
                            userpic='{{ user_pic3.user_pic }}';
                            
                            var data = new Identicon (userpic).toString();
                            
                            document.write('<img style="width:20px; height:20px;" src="data:svg+xml;base64,' + data + '">');
                    </script>
                    {% endif %}
                    
                    {% endfor %}
            <div class="sgt-text">
                <h4>{{user.username}}</h4>
                <span> joined:{{user.date_joined}}</span>
            </div>
            
        </div>
        {% endfor %}
        
        
        
        
       
    </div><!--suggestions-list end-->
</div>