{% load staticfiles %}
<div class="widget suggestions full-width">
    <div class="sd-title">
        <h3>Most Viewed People</h3>
        <i class="la la-ellipsis-v"></i>
    </div><!--sd-title end-->
    <div class="suggestions-list">
        <div class="suggestion-usd">
            <img src="images/resources/s1.png" alt="">
            <div class="sgt-text">
                <h4>Jessica William</h4>
                <span>Graphic Designer</span>
            </div>
            <span><i class="la la-plus"></i></span>
        </div>
        <div class="suggestion-usd">
            <img src="images/resources/s2.png" alt="">
            <div class="sgt-text">
                <h4>{{username}}</h4>
                <span>PHP Developer</span>
            </div>
            <span><i class="la la-plus"></i></span>
        </div>
        <div class="suggestion-usd">
            <img src="images/resources/s3.png" alt="">
            <div class="sgt-text">
                <h4>Poonam</h4>
                <span>Wordpress Developer</span>
            </div>
            <span><i class="la la-plus"></i></span>
        </div>
        <div class="suggestion-usd">
            <img src="images/resources/s4.png" alt="">
            <div class="sgt-text">
                <h4>Bill Gates</h4>
                <span>C &amp; C++ Developer</span>
            </div>
            <span><i class="la la-plus"></i></span>
        </div>
        <div class="suggestion-usd">
            <img src="images/resources/s5.png" alt="">
            <div class="sgt-text">
                <h4>Jessica William</h4>
                <span>Graphic Designer</span>
            </div>
            <span><i class="la la-plus"></i></span>
        </div>
        <div class="suggestion-usd">
            <img src="images/resources/s6.png" alt="">
            <div class="sgt-text">
                <h4>{{username}}</h4>
                <span>PHP Developer</span>
            </div>
            <span><i class="la la-plus"></i></span>
        </div>
        <div class="view-more">
            <a href="#" title="">View More</a>
        </div>
    </div><!--suggestions-list end-->
</div>