
{% load staticfiles %}
<div class="widget widget-jobs animated fadeInUp fast">
    <div class="sd-title">
        <h3>Les Posts Les Plus Like</h3>
        <i class="la la-ellipsis-v"></i>
    </div>
    <div class="jobs-list">
            {% for post in posts2 %}
        <div class="job-info">
            <div class="job-details">
                <h3><a href="#post{{post.post.id}}">{{post.post.title}}</a></h3>
                <p>N° de likes: {{post.rank_point}}</p>
            </div>
            
        </div><!--job-info end-->
        {% endfor %}
        
    </div><!--jobs-list end-->
</div>