
{% load staticfiles %}
<div class="widget widget-jobs">
    <div class="sd-title">
        <h3>Most Viewed This Week</h3>
        <i class="la la-ellipsis-v"></i>
    </div>
    <div class="jobs-list">
        <div class="job-info">
            <div class="job-details">
                <h3>Senior Product Designer</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
            </div>
            
        </div><!--job-info end-->
        <div class="job-info">
            <div class="job-details">
                <h3>Senior UI / UX Designer</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
            </div>
            
        </div><!--job-info end-->
        <div class="job-info">
            <div class="job-details">
                <h3>Junior Seo Designer</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
            </div>
        </div><!--job-info end-->
    </div><!--jobs-list end-->
</div>